.delete-post-btn {
  padding: 8px;
  border-radius: 10px;
  margin-top: 20px;
}
#btn-container {
  text-align: end;
}
#btn-thumb {
  margin-top: 10px;
}
#card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#card:hover {
  transform: scale(1.05);
}
