#login-msg {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  /* border: 2px solid #023e8a; */
  background-color: #023e8a;
}

/* Forgot Password  */
.container-forgot {
  width: 50%;
  margin: 100px auto 0 auto;
}

/* Dashboard */

.profile-head {
  transform: translateY(5rem);
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

/* User Login */
/* .bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
} */
