#login-msg {
  text-align: center;
  margin-top: 30px;
  color: rgb(18, 18, 202);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  border: 2px solid blue;
  background-color: pink;
}
